.body-plans {
  background: linear-gradient(to top, #121212, #a3a2a2);
}

table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}

table caption {
  font-size: 1.5em;
  margin: .5em 0 .75em;
}

table tr {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  padding: .35em;
}

table th,
table td {
  padding: .625em;
  text-align: center;
}

table th {
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase;
}

@media screen and (max-width: 600px) {
  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }
  
  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  
  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }
  
  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
  }
  
  table td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  table td:last-child {
    border-bottom: 0;
  }
}














/* .card-plans {
  border: 0px solid rgb(180, 180, 180);
  margin: 10px auto 70px auto;
  transition: 0.4s;
  min-width: 540px;
  /* max-width: 650px; */
  margin-bottom: 70px;
  text-align: -webkit-center;
}

.shadow-table {
  box-shadow: 0px -80px 25px 25px rgba(0,0,0,0.2);
  width: 800px;
  text-align: center;
}

.table-plans-title td {
  font-size: 150%;
  width: 20%;
}

.plans-type {
  /* font-size: 150%; */
  text-align: center;
  color: rgb(77, 77, 77);
  font-weight: bold;
}

.plans-type td {
  padding: 10px;
}

.table-month {
  /* font-size: 150%; */
  text-align: center;
  font-weight: 200;
}

.table-month td:nth-child(odd) { 
	background:#f1df95;
}

.plans-type td:nth-child(odd) { 
	background:#f1df95;
}

.plans-type td:nth-child(even) { 
	background:#eff35e;
}

.table-month td:nth-child(even) { 
	background:#eff35e;
}

.tipo {
  /* font-size: 150%; */
  font-weight: bold;
  /* width: 20%; */
  color: rgb(243, 243, 243);
  padding: 10px;
  text-align: right;
}

.table-plans td {
  border: 1px solid rgb(71, 71, 71);
}

.button-plans td:nth-child(n+2):nth-child(-n+6) {
  padding: 10px 0 10px 15px;
}

.card-plans div button {
  cursor: pointer;
  width: 90px;
  height: 40px;
  margin-top: 10px;
  background: var(--primary-color);
  font-weight: 600;
  border-radius: 8px;
  color: var(--second-text-color);
}

.card-plans div button:hover {
  background: var(--second-text-color) !important;
  color: var(--primary-color) !important;
}

@media screen and (max-width: 950px) {
  .card-plans {
    margin-top: 20px;
  }
}

@media screen and (max-width: 950px) {
  .shadow-table {
    width: 320px;
  }
} */

