@import url('../css/reset.css');
@import url('../css/navbar.css');
@import url('../css/retractable-menu.css');
@import url('../css/footer.css');
@import url('../css/contacts.css');
@import url('../css/plans.css');
@import url('../css/variables.css');
@import url('../css/thanks.css');
@import url('../css/about.css');
@import url('../css/supplements-store.css');
@import url('../css/who-we-are.css');

.body-index {
  background: linear-gradient(to top, #121212, #a3a2a2);
}

/*Carrossel*/
* {
  box-sizing: border-box;
}

.mySlides {
  display: none;
}

img {
  vertical-align: middle;
  max-height: 500px;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  max-height: 700px;
  position: relative;
  margin: auto;
  /* margin-bottom: 5px; */
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dots {
  text-align: center;
  margin: 15px 0 20px;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.contacts-us-opening-hours {
  display: flex;
}

.img-c-oh {
  margin: 0 auto;
  padding: 1rem;
}

.img-c {
  cursor: pointer;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}

/*audio*/
.audio-index {
  text-align: center;
  margin-bottom: 20px;
}

/*Localization*/
.card-index {
  width: 100%;
  max-width: 940px;
  height: 340px;
  position: absolute;
  background: linear-gradient(to bottom, #121212, #1f1f1fbd, #ffffff4d);
  display: flex;
  align-items: center;
  justify-content: center;
}

.andress {
  color: #ffef15;
  max-width: 375px;
  font-size: 1.5rem;
  z-index: 1;
  padding: 10px;
}

.section-localization {
  margin-bottom: 3rem;
}

.localization {
  max-width: 940px;
  margin: 0 auto;
}

.title-localization {
  text-align: center;
  font-size: 2rem;
  margin: 0 0 1rem;
  color: var(--primary-text-color);
  font-family: 'Times New Roman', Times, serif;
}

@media screen and (max-width: 950px) {
  .localization {
    margin: 5px 5px;
  }

  footer p {
    margin-top: 15px;
    font-size: 12px;
  }
}

/* Pure CSS Scroll Animation Arrow */
.container-arrow {
  position: absolute;
  display: flex;
  margin-top: 185px;
  justify-content: center;
  rotate: 180deg;
  width: 100px;
  height: 100px;
  cursor: pointer;
}

.container-arrow p {
  rotate: 180deg !important;
  margin-block-end: auto;
  color: #2c3e50;
  font-weight: bold;
}

/*Effects transition*/
.effects-transiton {
  -webkit-animation-name: fadeOutUp;
  animation-name: fadeOutUp;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  background: none;
}

.container-arrow-after {
  rotate: 0deg;
  align-items: end;
  margin-top: 235px;
}

@-webkit-keyframes fadeOutUp {
  0% {
  opacity: 1;
  }

  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
}

@keyframes fadeOutUp {
  0% {
    opacity: 1;
  }

  100% {
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
  }
} 

.chevron {
  position: absolute;
  width: calc(var(--base) * 3.5);
  height: calc(var(--base) * 0.8);
  opacity: 0;
  transform: scale(0.3);
  animation: move-chevron 3s ease-out infinite;
}

.chevron:first-child {
  animation: move-chevron 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
  animation: move-chevron 3s ease-out 2s infinite;
}

.chevron:before, .chevron:after {
  content: '';
  position: absolute;
  top: 0;
  height: 100%;
  width: 50%;
  background: #2c3e50;
}

.chevron:before {
  left: 0;
  transform: skewY(30deg);
}

.chevron:after {
  right: 0;
  width: 50%;
  transform: skewY(-30deg);
}

@keyframes move-chevron {
  25% {
    opacity: 1;
  }
  33.3% {
    opacity: 1;
    transform: translateY(calc(var(--base) * 3.8));
  }
  66.6% {
    opacity: 1;
    transform: translateY(calc(var(--base) * 5.2));
  }
  100% {
    opacity: 0;
    transform: translateY(calc(var(--base) * 8)) scale(0.5);
  }
}

@media screen and (max-width: 546px) {
  .img-oh {
    max-width: 85vw; 
    margin-bottom: 2rem;
  }

  .img-c-oh {
    text-align: -webkit-center;
  }
}

@media screen and (max-width: 410px) {
  .andress {
    font-size: 1rem;
  }
}