.body-who-we-are {
    background: linear-gradient(to top, #121212, #a3a2a2);
}

.video-biofitness video {
    max-width: 820px;
    max-height: 740px;
    margin: 2rem;
}

.video-biofitness {
    text-align-last: center;
}