<!DOCTYPE html>
<html lang="pt">
    <head include-html="./components/head/head.html"></head>
    <body>
        <header id="retractable-menu" include-html="./components/retractable-menu/retractable-menu.html"></header>
        <nav id="navbar" class="navbar" include-html="./components/navbar/navbar.html"></nav>
        <main>

        </main>

        <footer include-html="./components/footer/footer.html"></footer>
    </body>

    <script src="./js/index.js"></script>
    <script src="./js/include-html.js"></script>
</html>