<!-- menu retrátil lateral esquerda -->
<input type="checkbox" id="check">
<label id="icon" for="check"></label>
<div class="bar">
    <nav aria-label="Retractable menu">
        <div class="link">
            <a href="index.html">
                <i class="fa fa-home icon-menu" aria-hidden="true"><p class="themes">HOME</p></i>
            </a>
        </div>

        <div class="link">
            <a href="#">
                <i class="fa fa-calculator icon-menu" aria-hidden="true"><p class="themes">CALCULADORA</p></i>
            </a>
        </div>

        <div class="link">
            <a href="#">
                <i class="fa fa-cubes icon-menu" aria-hidden="true"><p class="themes">CUBOS</p></i>
            </a>
        </div>
    </nav>
</div>

<!-- barra fixa horizontal -->
<nav class="menu" aria-label="Menu">
    <a href="#"></a>
</nav>
<label for="menu-hamburguer">
    <div class="mburg">
        <span class="hamburguer"></span>
    </div>
</label>

<a href="index.html"><img class="logo" src="../../images/logo-biofitness.png" alt="logo"></a>